/*-----Globales-----*/
/*Colores*/
/*Fin colores*/
/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@font-face {
  font-family: "Luthon Southard Serif";
  src: url("../fonts/Luthon Southard Serif.otf"); }

@font-face {
  font-family: "Luthon Southard Script";
  src: url("../fonts/Luthon Southard Script.otf"); }

@font-face {
  font-family: "CoffekanRegular";
  src: url("../fonts/CoffekanRegular.ttf"); }

@font-face {
  font-family: "KenokyLight";
  src: url("../fonts/KenokyLight.ttf"); }

@font-face {
  font-family: "PPTelegraf-Regular";
  src: url("../fonts/PPTelegraf-Regular.otf"); }

@font-face {
  font-family: "PPTelegraf-UltraBold";
  src: url("../fonts/PPTelegraf-UltraBold.otf"); }

@font-face {
  font-family: "PPTelegraf-UltraLight";
  src: url("../fonts/PPTelegraf-UltraLight.otf"); }

@font-face {
  font-family: "Bigilla";
  src: url("../fonts/Bigilla.otf"); }

@font-face {
  font-family: "MADE SAONARA PERSONAL USE";
  src: url("../fonts/MADE SAONARA PERSONAL USE.otf"); }

@font-face {
  font-family: "Rude";
  src: url("../fonts/Rude.ttf"); }

@font-face {
  font-family: "MADE SAONARA 2 PERSONAL USE";
  src: url("../fonts/MADE SAONARA 2 PERSONAL USE.otf"); }

@font-face {
  font-family: 'argesta_displayregular';
  src: url("argestadisplay-regular-webfont.eot");
  src: url("argestadisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("argestadisplay-regular-webfont.woff2") format("woff2"), url("argestadisplay-regular-webfont.woff") format("woff"), url("argestadisplay-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*Fin fuentes*/
/*Resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  width: 100%;
  background-color: #fff8f8; }

.container-fluid {
  width: 100%;
  max-width: 175rem; }

/*Fin resets*/
/*Header*/
.header {
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  padding: 4rem 4%;
  z-index: 999;
  max-width: 100%; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }

.linea {
  border-bottom: 1px solid;
  width: 50%;
  position: absolute;
  top: 100%; }

.nav-link {
  text-decoration: none;
  color: #5f5d5d;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 1.5rem;
  padding: 0 1rem;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 3vw, 1.8rem);
  letter-spacing: 0.3rem; }

.nav-list:nth-last-child {
  margin: 0;
  padding: 0; }

/*FX*/
.nav-link:hover {
  color: #212529;
  transition: all 0.3s ease-in-out; }

.nav-link::before {
  content: "";
  background-color: #212529;
  width: calc(100% - 2rem);
  height: .2rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transition: transform 0.2s linear;
  transform: translate(-50%, -50%) scaleX(0); }

.nav-link:hover::before {
  transform: translate(-50%, -50%) scaleX(1); }

/*Fin FX*/
.nav-list {
  list-style: none;
  display: flex;
  margin: 0; }

/*Logo*/
.header img {
  max-width: 80%; }

.header img:hover {
  transform: scale(1.04);
  transition: all 0.2s ease-in-out; }

.logo {
  text-decoration: none;
  color: #212529;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Bigilla";
  font-size: clamp(2rem, 8vw, 6rem);
  color: #212529; }

.logo:hover {
  color: #5f5d5d;
  transition: 0.3s all ease-in-out;
  transform: scale(1.01);
  transition: all 0.2s ease-in-out; }

/*Fin logo*/
/*Hamburger menu*/
.hamburger-menu {
  display: none; }

/*Fin hamburger menu*/
/*Fin header*/
/*Footer*/
.sticky {
  position: sticky;
  top: 100%; }

.footer {
  width: 100%;
  height: auto; }
  .footer .lineaFoot {
    border-top: 1px solid;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0; }

.workwme {
  padding: 0;
  margin: 0; }

.workwme-text {
  position: relative; }

.workwme-text::before {
  content: "";
  background-color: #161616;
  width: calc(100% + 2rem);
  height: .4rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transition: transform .3s ease-in-out;
  transform: translate(-50%, -50%) scaleX(0); }

.workwme-text:hover::before {
  transform: translate(-50%, -50%) scaleX(1); }

.contact--footer {
  text-align: center;
  list-style: none; }

.contact--footer a {
  text-decoration: none;
  font-size: clamp(2rem, 10vw, 8rem);
  text-transform: uppercase;
  color: #212529;
  font-family: "KenokyLight"; }

.contact--footer a:hover {
  color: #5f5d5d;
  transition: all 0.3s ease-in-out; }

.followme {
  padding: clamp(5px, 2vw, 8px);
  text-transform: uppercase;
  color: #5f5d5d;
  font-size: clamp(1rem, 4vw, 2rem); }

.social-media {
  text-align: center; }

.social-prop {
  margin: 1rem 0; }
  .social-prop a {
    font-size: clamp(1rem, 4vw, 2rem);
    color: #212529;
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500; }
  .social-prop a:hover {
    color: #5f5d5d;
    transition: all 0.3s ease-in-out; }

.content-creator {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0 0; }

.copyright {
  text-transform: uppercase;
  font-size: clamp(0.5rem, 3vw, 1.2rem);
  color: #212529;
  font-weight: 500; }

.web-developer {
  text-transform: uppercase;
  color: #212529;
  font-size: clamp(0.5rem, 3vw, 1.2rem);
  font-weight: 500; }
  .web-developer a:hover {
    color: #212529;
    transition: all 0.3s ease-in-out; }

.name-developer {
  color: #5f5d5d;
  text-decoration: none;
  font-size: clamp(1.1rem, 3.5vw, 1.5rem); }

.fa-long-arrow-alt-up {
  position: absolute;
  font-size: clamp(3rem, 6vw, 5rem);
  right: 0;
  top: 4rem;
  color: #212529;
  scroll-behavior: smooth; }

.fa-long-arrow-alt-up:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out; }

/*Fin footer*/
/*-----Fin globales-----*/
/*-----Index-----*/
/*Global sections*/
.section {
  position: relative;
  height: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  overflow: hidden;
  margin-bottom: 5rem; }

/*Fin global sections*/
/*Hero section*/
.section h1 {
  font-family: "KenokyLight";
  font-size: clamp(2rem, 4.5vw, 40rem);
  color: #212529;
  text-transform: uppercase;
  text-align: right; }

.section h2 {
  font-size: clamp(2rem, 4.5vw, 40rem);
  text-align: right;
  font-family: "KenokyLight";
  color: #212529;
  text-transform: uppercase; }

.section h5 {
  font-size: clamp(2rem, 4.5vw, 40rem);
  text-align: right;
  font-family: "KenokyLight";
  color: #212529;
  text-transform: uppercase; }

.carousel {
  width: clamp(400px, 35vw, 600px); }

/*Fin hero section*/
/*Global sections*/
.section2 {
  position: relative;
  height: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  overflow: hidden; }

/*Fin global sections*/
/*Main section*/
.main-col {
  width: auto; }

.main-section {
  margin-top: clamp(10px, 8vw, 60px);
  overflow-y: hidden; }

.main-section2 {
  background-color: transparent;
  margin-bottom: clamp(10px, 4vw, 20px);
  overflow-y: hidden; }

.section h3 {
  font-family: "Playfair Display", serif;
  padding: clamp(1rem, 5vw, 3rem);
  font-size: clamp(6rem, 7vw, 6rem); }

.main-img1 {
  width: clamp(300px, 30vw, 550px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-left: 0; }

.main-img2 {
  width: clamp(300px, 30vw, 450px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-right: 0; }

.main-img3 {
  width: clamp(300px, 30vw, 550px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-left: 0; }

.main-img4 {
  width: clamp(300px, 30vw, 300px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-right: 0; }

.main-img5 {
  width: clamp(300px, 30vw, 550px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-left: 0; }

.main-img6 {
  width: clamp(300px, 30vw, 300px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-right: 0; }

.main-img7 {
  width: clamp(300px, 30vw, 550px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-left: 0; }

.main-img8 {
  width: clamp(300px, 30vw, 300px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-right: 0; }

.main-img9 {
  width: clamp(300px, 30vw, 550px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-left: 0; }

.main-img10 {
  width: clamp(300px, 30vw, 300px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-right: 0; }

.main-img11 {
  width: clamp(300px, 30vw, 550px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-left: 0; }

.main-img12 {
  width: clamp(300px, 30vw, 300px);
  padding: clamp(1rem, 5vw, 3rem);
  padding-right: 0; }

.main-text {
  font-family: "KenokyLight";
  text-align: right;
  width: auto;
  text-decoration: none;
  color: #212529;
  font-size: 10rem;
  position: absolute;
  left: 25%;
  z-index: 1; }

.main-text:hover {
  color: gray; }

.main-text2 {
  font-family: "KenokyLight";
  font-size: 10rem;
  text-align: left;
  width: auto;
  text-decoration: none;
  color: #212529;
  position: absolute;
  right: 20%; }

.main-text2:hover {
  color: gray; }

.main-text3 {
  font-family: "KenokyLight";
  font-size: 10rem;
  width: auto;
  text-decoration: none;
  color: #212529;
  position: absolute;
  left: 25%; }

.main-text3:hover {
  color: gray; }

.main-text4 {
  font-family: "KenokyLight";
  font-size: 10rem;
  text-align: left;
  width: auto;
  text-decoration: none;
  color: #212529;
  position: absolute;
  right: 20%; }

.main-text4:hover {
  color: gray; }

.main-text5 {
  font-family: "KenokyLight";
  font-size: 10rem;
  text-align: right;
  text-decoration: none;
  color: #212529;
  position: absolute;
  left: 25%; }

.main-text5:hover {
  color: gray; }

.main-text6 {
  font-family: "KenokyLight";
  font-size: 10rem;
  text-align: left;
  width: auto;
  text-decoration: none;
  color: #212529;
  position: absolute;
  right: 20%; }

.main-text6:hover {
  color: gray; }

.breath {
  font-family: "Playfair Display", serif;
  color: #212529; }

.section h3 {
  font-size: clamp(3rem, 6vw, 15rem); }

h1.animate__animated.animate__fadeInLeft {
  --animate-duration: 1.5s; }

h2.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s; }

.s-one {
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  left: 25%;
  z-index: -1; }

.s-two {
  position: absolute;
  width: 1px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  left: 50%; }

.s-three {
  position: absolute;
  width: 1px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  left: 75%; }

/*Fin main section*/
/*-----Fin index-----*/
/*-----Works-----*/
/*Works section*/
.section-works {
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 32rem));
  grid-template-columns: 32rem 32rem 32rem;
  grid-template-rows: auto;
  column-gap: 5rem;
  row-gap: 2rem;
  padding-bottom: 2rem; }

.card {
  border: none;
  overflow: hidden;
  background-color: transparent; }

.card-decoration {
  text-decoration: none;
  width: 75%; }

.card-title-large {
  font-size: clamp(1rem, 2.5rem, 4rem);
  color: #212529;
  text-transform: uppercase;
  font-family: "KenokyLight";
  font-weight: 00;
  letter-spacing: 3px; }

.card-title-large:hover {
  color: #da7228;
  transition: all 0.4s ease-in-out; }

.card-title-small {
  font-size: clamp(0.5rem, 1.5rem, 2rem);
  color: #da7228;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: 400; }

.card-title-small:hover {
  color: #212529;
  transition: all 0.4s ease-in-out; }

.card-property, .street, .campaign, .product, .lookbook, .social-content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  transition: all 0.4s ease-out;
  border-radius: 60px 0px 60px 0px; }

.test {
  background-image: url("/img/test/Test Principal.jpg"); }

.test:hover {
  background-image: url("/img/test/Test Secundaria.jpg"); }

.street {
  background-image: url("/img/street/Street Principal.jpg"); }

.street:hover {
  background-image: url("/img/street/Street Secundaria.jpg"); }

.campaign {
  background-image: url("/img/campaign/Campaign principal.jpg"); }

.campaign:hover {
  background-image: url("/img/campaign/Campaign secundaria.jpg"); }

.product {
  background-image: url("/img/product/Producto principal.jpg"); }

.product:hover {
  background-image: url("/img/product/Producto secundaria.jpg"); }

.lookbook {
  background-image: url("/img/LOOKBOOK/_DSC2873.jpg"); }

.lookbook:hover {
  background-image: url("/img/LOOKBOOK/_DSC3265.jpg"); }

.social-content {
  background-image: url("/img/CONTENIDO PARA REDES/_DSC9826.jpg"); }

.social-content:hover {
  background-image: url("/img/CONTENIDO PARA REDES/_DSC9890.jpg"); }

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 0;
  font-size: 2rem; }

.breadcrumb-item a {
  color: #212529;
  text-decoration: none; }

/*Fin works section*/
/*Image gallery works*/
.item {
  transition: .5s ease-in-out; }

.item:hover {
  filter: brightness(70%); }

.fancybox {
  height: auto; }

/*Fin image gallery works*/
/*-----Fin works-----*/
/*-----Backstage*/
/*-----Fin backstage*/
/*-----About-----*/
.section--about {
  position: relative;
  height: auto;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
  margin: 0%;
  margin-bottom: 3rem; }

.main-about-section {
  background-color: transparent;
  overflow-y: hidden; }

.section--about h1 {
  overflow: hidden;
  font-size: clamp(2rem, 8vw, 10rem);
  padding: 0;
  font-family: "Playfair Display", serif;
  margin: 0; }

.section--about h2 {
  font-size: clamp(1rem, 4vw, 3rem);
  text-transform: uppercase;
  margin-top: clamp(1rem, 1vw, 2rem);
  margin-bottom: clamp(1rem, 1vw, 2rem); }

.section--about p {
  font-size: clamp(0.5rem, 2vw, 2rem);
  text-align: justify;
  margin: 0rem;
  width: clamp(400px, 35vw, 600px); }

.leila {
  width: clamp(400px, 35vw, 600px); }

/*-----Fin about-----*/
/*-----Contact-----*/
.section-contact {
  position: relative;
  height: auto;
  width: 100%;
  background-color: transparent; }
  .section-contact h1 {
    color: #212529;
    z-index: 1;
    justify-content: center;
    align-items: center;
    font-family: "KenokyLight";
    font-size: clamp(2rem, 10vw, 8rem);
    font-style: italic; }

.contact {
  text-align: center;
  margin: 0; }

.contact-section {
  margin-bottom: clamp(10px, 4vw, 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 75vh;
  width: 100%; }

.input-cont {
  background-color: transparent;
  color: #212529;
  outline: none; }

label, input {
  color: #212529;
  outline: none; }

.message {
  color: white; }

.enviar {
  color: white;
  font-weight: 700;
  text-transform: uppercase; }

form .form-row {
  display: flex;
  margin: 40px 0; }
  form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative; }
    form .form-row .input-data .underline {
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: #212529; }
  form .form-row .textarea {
    height: 70px; }
    form .form-row .textarea textarea {
      resize: none;
      padding-top: 10px; }
    form .form-row .textarea label {
      width: 100%;
      bottom: 40px;
      background-color: #212529; }

.input-data input,
.textarea textarea {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.7rem; }

.submit-btn .input-data {
  height: 45px;
  width: 25%;
  overflow: hidden; }
  .submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100;
    background: #212529; }
  .submit-btn .input-data input {
    position: relative;
    z-index: 1;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 1px; }

.submit-btn .enviar:hover {
  transform: scale(1.04);
  transition: all 0.2s ease-in-out; }

.contact-info {
  color: #212529;
  display: flex;
  text-align: center;
  justify-content: center; }

/*-----Fin contact-----*/
/*-----Media querys------*/
@media only screen and (max-width: 576px) {
  /*Inicio footer*/
  .content-creator {
    text-align: center;
    align-items: center;
    display: block;
    margin: 2rem 0 0 0; }
  .copyright {
    margin-bottom: 1rem; }
  .fa-long-arrow-alt-up {
    font-size: clamp(2rem, 8vw, 5rem);
    color: #161616;
    right: 2%;
    top: 2rem; }
  .fa-long-arrow-alt-up:hover {
    transform: scale(1); }
  /*Fin footer*/
  .breadcrumb-item {
    font-size: clamp(1.5rem, 6vw, 2rem); }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 32rem)); }
  /*Sections*/
  .section2 {
    flex-direction: column; }
  /*Hero section*/
  .section {
    margin-bottom: 0; }
    .section h1 {
      font-size: clamp(2rem, 15vw, 40rem);
      padding-left: 0;
      margin: 0;
      text-align: center; }
    .section h2 {
      font-size: clamp(2rem, 15vw, 40rem);
      padding-left: 0;
      text-align: center;
      margin: 0; }
    .section h5 {
      font-size: clamp(2rem, 15vw, 40rem);
      padding-left: 0;
      text-align: center;
      margin: 0; }
  .carousel {
    width: auto; }
  /*Main section*/
  .main-col {
    width: auto; }
  .main-section {
    margin-top: clamp(10px, 8vw, 60px); }
  .main-section2 {
    margin-bottom: clamp(10px, 4vw, 20px); }
  .main-img1 {
    width: clamp(400px, 30vw, 550px); }
  .main-img2 {
    width: clamp(400px, 30vw, 450px);
    margin-right: 0;
    display: none; }
  .main-img3 {
    width: clamp(400px, 30vw, 400px);
    margin-left: 0; }
  .main-img4 {
    width: clamp(400px, 30vw, 500px);
    display: none; }
  .main-img5 {
    width: clamp(400px, 30vw, 400px); }
  .main-img6 {
    display: none; }
  .main-img7 {
    width: clamp(400px, 30vw, 400px); }
  .main-img8 {
    display: none; }
  .main-img9 {
    width: clamp(400px, 30vw, 400px); }
  .main-img10 {
    display: none; }
  .main-img11 {
    width: clamp(400px, 30vw, 400px); }
  .main-img12 {
    display: none; }
  .main-text {
    position: relative;
    font-size: 4.5rem;
    left: 0;
    margin: 0; }
    .main-text p {
      margin: 0; }
  .main-text2 {
    position: relative;
    font-size: 4.5rem;
    right: 0;
    margin: 0; }
  .main-text3 {
    position: relative;
    font-size: 4.5rem;
    left: 0;
    margin: 0; }
  .main-text4 {
    position: relative;
    font-size: 4.5rem;
    right: 0;
    margin: 0; }
  .main-text5 {
    position: relative;
    font-size: 4.5rem;
    left: 0;
    margin: 0; }
  .main-text6 {
    position: relative;
    font-size: 4.5rem;
    right: 0; }
  .logo {
    font-size: clamp(2rem, 12vw, 6rem); }
  /*Fin main section*/
  /*Fin hero section*/ }

@media only screen and (max-width: 768px) {
  .section {
    flex-direction: column; }
  .section2 {
    flex-direction: column; }
  /*Hero section*/
  .section h1 {
    font-size: clamp(2rem, 10vw, 40rem);
    padding-left: 0;
    margin: 0;
    text-align: center; }
  .section h2 {
    font-size: clamp(2rem, 10vw, 40rem);
    padding-left: 0;
    text-align: center;
    margin: 0; }
  .section h5 {
    font-size: clamp(2rem, 10vw, 40rem);
    padding-left: 0;
    text-align: center;
    margin: 0; }
  /*Main section*/
  .main-col {
    width: auto; }
  .main-section {
    margin-top: clamp(10px, 8vw, 60px); }
  .main-section2 {
    margin-bottom: clamp(10px, 4vw, 20px); }
  .main-img1 {
    width: clamp(400px, 50vw, 500px);
    padding-left: 0;
    padding-right: 0; }
  .main-img2 {
    width: clamp(400px, 50vw, 500px);
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
  .main-img3 {
    width: clamp(400px, 50vw, 500px);
    margin-left: 0;
    padding-left: 0;
    padding-right: 0; }
  .main-img4 {
    width: clamp(400px, 50vw, 500px);
    padding-left: 0;
    padding-right: 0; }
  /*Fin main section*/
  /*Fin hero section*/ }

@media only screen and (max-width: 992px) {
  .contact-section {
    height: auto; } }

@media only screen and (max-width: 1024px) {
  /*Header*/
  .hamburger-menu {
    font-size: 2.6rem;
    color: #212529;
    cursor: pointer;
    position: relative;
    z-index: 1500;
    display: flex; }
    .hamburger-menu .fa-times {
      display: none; }
  .menu-open .hamburger-menu .fa-times {
    display: block; }
  .menu-open .hamburger-menu .fa-bars {
    display: none; }
  .menu-open .nav-list {
    opacity: 1;
    transform: scale(1); }
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s ease-in-out;
    padding-left: 0; }
  .nav-link {
    display: block;
    font-size: clamp(1rem, 4.5vw, 4rem);
    font-weight: 600;
    letter-spacing: 2px;
    padding: 2rem; }
  .nav-item:not(:last-child) {
    margin-bottom: 1rem; }
  /*Fin header*/
  /*Contact*/
  form .form-row {
    display: block; }
    form .form-row .input-data {
      margin: 35px 0; }
  .submit-bt .input-data {
    width: 100%; }
  /*Fin contact*/
  /*About section*/
  .section--about {
    flex-direction: column-reverse; }
    .section--about h1 {
      font-size: clamp(2rem, 14vw, 6rem);
      text-align: center;
      font-weight: 500; }
    .section--about h2 {
      font-size: clamp(2rem, 3vw, 4rem);
      margin-top: clamp(1rem, 1vw, 2rem);
      margin-bottom: clamp(1rem, 1vw, 2rem);
      text-align: center;
      font-weight: 600; }
    .section--about p {
      font-size: clamp(0.5rem, 6vw, 2rem);
      width: 93vw;
      text-align: left;
      margin: 3rem 0 3rem 0; }
  .leila {
    width: clamp(300px, 100vw, 650px); }
  .main-section {
    margin-bottom: 20px; }
  .main-img1 {
    width: clamp(400px, 30vw, 550px);
    padding: 30px 0; }
  .main-img2 {
    width: clamp(400px, 30vw, 450px);
    margin-right: 0;
    display: none; }
  .main-img3 {
    width: clamp(400px, 30vw, 400px);
    margin-left: 0;
    padding: 30px 0; }
  .main-img4 {
    width: clamp(400px, 30vw, 500px);
    display: none; }
  .main-img5 {
    width: clamp(400px, 30vw, 400px);
    padding: 30px 0; }
  .main-img6 {
    display: none; }
  .main-img7 {
    width: clamp(400px, 30vw, 400px);
    padding: 30px 0; }
  .main-img8 {
    display: none; }
  .main-img9 {
    width: clamp(400px, 30vw, 400px);
    padding: 30px 0; }
  .main-img10 {
    display: none; }
  .main-img11 {
    width: clamp(400px, 30vw, 400px);
    padding: 30px 0; }
  .main-img12 {
    display: none; }
  .main-text {
    position: relative;
    font-size: 4.5rem;
    left: 0;
    margin: 0; }
    .main-text p {
      margin: 0; }
  .main-text2 {
    position: relative;
    font-size: 4.5rem;
    right: 0;
    margin: 0; }
  .main-text3 {
    position: relative;
    font-size: 4.5rem;
    left: 0;
    margin: 0; }
  .main-text4 {
    position: relative;
    font-size: 4.5rem;
    right: 0;
    margin: 0; }
  .main-text5 {
    position: relative;
    font-size: 4.5rem;
    left: 0;
    margin: 0; }
  .main-text6 {
    position: relative;
    font-size: 4.5rem;
    right: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1400px) {
  .cards {
    grid-template-columns: 32rem 32rem; }
  /*Sections*/
  .hero-section {
    flex-direction: column; }
  .logo {
    font-size: clamp(2rem, 5vw, 3.5rem); }
  .nav-link {
    font-size: clamp(1.5rem, 1.5vw, 3.5rem); }
  /*Hero section*/
  .section h1 {
    font-size: clamp(2rem, 10vw, 40rem);
    padding-left: 0;
    margin: 0;
    text-align: center; }
  .section h2 {
    font-size: clamp(2rem, 10vw, 40rem);
    padding-left: 0;
    text-align: center;
    margin: 0; }
  .section h5 {
    font-size: clamp(2rem, 10vw, 40rem);
    padding-left: 0;
    text-align: center;
    margin: 0; }
  .carousel {
    width: clamp(600px, 700px, 900px); }
  /*Main section*/
  .main-col {
    width: auto; }
  .main-section {
    margin-top: clamp(10px, 8vw, 60px); }
  .main-img1 {
    width: clamp(400px, 30vw, 550px);
    padding: 30px 0; }
  .main-img2 {
    width: clamp(400px, 30vw, 450px);
    margin-right: 0;
    display: none; }
  .main-img3 {
    width: clamp(400px, 30vw, 400px);
    margin-left: 0;
    padding: 30px 0; }
  .main-img4 {
    width: clamp(400px, 30vw, 500px);
    display: none; }
  .main-img5 {
    width: clamp(400px, 30vw, 400px);
    padding: 30px 0; }
  .main-img6 {
    display: none; }
  .main-img7 {
    width: clamp(400px, 30vw, 400px);
    padding: 30px 0; }
  .main-img8 {
    display: none; }
  .main-img9 {
    width: clamp(400px, 30vw, 400px);
    padding: 30px 0; }
  .main-img10 {
    display: none; }
  .main-img11 {
    width: clamp(400px, 30vw, 400px);
    padding: 30px 0; }
  .main-img12 {
    display: none; }
  .main-text {
    position: relative;
    font-size: 10rem;
    left: 0;
    margin: 0; }
    .main-text p {
      margin: 0; }
  .main-text2 {
    position: relative;
    font-size: 10rem;
    right: 0;
    margin: 0; }
  .main-text3 {
    position: relative;
    font-size: 10rem;
    left: 0;
    margin: 0; }
  .main-text4 {
    position: relative;
    font-size: 10rem;
    right: 0;
    margin: 0; }
  .main-text5 {
    position: relative;
    font-size: 10rem;
    left: 0;
    margin: 0; }
  .main-text6 {
    position: relative;
    font-size: 10rem;
    right: 0; }
  /*Fin main section*/
  /*Fin hero section*/
  .section--about p {
    font-size: clamp(0.5rem, 3vw, 2rem);
    text-align: justify;
    margin: 4rem 0 0 0;
    width: auto;
    margin-bottom: clamp(1rem, 6vw, 4rem); }
  .logo {
    font-size: clamp(2rem, 15vw, 6rem); } }

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .cards {
    grid-template-columns: 32rem 32rem; }
  /*About section*/
  .section--about {
    justify-content: space-between;
    flex-direction: row; }
    .section--about h1 {
      overflow: hidden;
      font-size: clamp(2rem, 8vw, 6rem);
      padding: 0;
      font-family: "Playfair Display", serif; }
    .section--about h2 {
      font-size: clamp(1rem, 4vw, 2rem);
      text-transform: uppercase;
      margin-top: clamp(1rem, 1vw, 2rem);
      margin-bottom: clamp(1rem, 1vw, 2rem); }
    .section--about p {
      font-size: clamp(0.5rem, 3vw, 2rem);
      text-align: justify;
      margin: 4rem 4rem 0 0;
      width: clamp(400px, 50vw, 600px); }
  .leila {
    width: clamp(400px, 40vw, 650px); }
  /*Fin about section*/ }

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .hero-section {
    flex-direction: initial; }
  .section h1 {
    font-size: clamp(2rem, 7vw, 40rem);
    padding-left: 0;
    margin: 0;
    text-align: center; }
  .section h2 {
    font-size: clamp(2rem, 7vw, 40rem);
    padding-left: 0;
    text-align: center;
    margin: 0; }
  .section h5 {
    font-size: clamp(2rem, 7vw, 40rem);
    padding-left: 0;
    text-align: center;
    margin: 0; }
  .carousel {
    width: 620px; }
  /*About section*/
  .section--about {
    position: relative;
    height: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    margin: auto;
    margin-bottom: 4rem; }
    .section--about h1 {
      overflow: hidden;
      font-size: clamp(2rem, 6vw, 6rem);
      padding: 0;
      font-family: "Playfair Display", serif; }
    .section--about h2 {
      font-size: clamp(1rem, 4vw, 2rem);
      text-transform: uppercase;
      margin-top: clamp(1rem, 1vw, 2rem);
      margin-bottom: clamp(1rem, 1vw, 2rem); }
    .section--about p {
      font-size: clamp(0.5rem, 3vw, 2rem);
      text-align: justify;
      margin: 4rem 4rem 0 0;
      width: clamp(400px, 50vw, 600px); }
  .main-about-section {
    background-color: transparent;
    overflow-y: hidden;
    width: 100%; }
  .leila {
    width: clamp(400px, 40vw, 650px); }
  /*Fin about section*/ }

@media only screen and (min-width: 1401px) and (max-width: 1600px) {
  .carousel {
    width: 600px; } }

/*-----Fin media querys-----*/
