.section3{
    position: relative;
    height: auto;
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    overflow-x: hidden;
    overflow: hidden;
    border: 1px solid; 
    
    .main-col{
        width: auto;
    }

    .main-vid1{
        width: clamp(300px, 50vw, 550px);
        padding: clamp(1rem, 5vw, 3rem);
    }
    
    .main-vid2{
        @extend .main-vid1;
    }
    
    .main-vid3{
        @extend .main-vid1;
    }
    
    .main-vid4{
        @extend .main-vid1;
    }

    .main-img-back{
        @extend .main-vid1;
    }
    
    .main-img-back2{
        width: clamp(300px, 50vw, 400px);
        padding: clamp(1rem, 5vw, 3rem);
    }
    
    .main-img-back3{
        @extend .main-img-back2;
    }
    
    .main-img-back4{
        width: clamp(300px, 50vw, 450px); 
        padding: clamp(1rem, 5vw, 3rem);
    }
    
    .main-img-back5{
        width: clamp(300px, 50vw, 500px);
        padding: clamp(1rem, 5vw, 3rem);
    }
    
    .main-img-back6{
        @extend .main-img-back4;
    }

    .main-text-backstage{
        font-family: $fuenteKenoky;
        text-align: right;
        width: auto;
        text-decoration: none;
        color: $negro; 
        font-size: clamp(2.5rem, 3vw, 10rem);
    }
}

.main-section2{
    background-color: transparent;
    margin-top: clamp(10px, 20vw, 7rem);
    margin-bottom: clamp(10px, 8vw, 6rem);
    overflow-y: hidden;
}

.fixed-backstage-text{ 
    font-size: clamp(2.5rem, 50vw, 10rem);
    text-align: center;
    color: $negro;
    text-transform: uppercase;
    font-family: $fuenteKenoky; 
    letter-spacing: 3px;
    z-index: -1;
    padding: 0;
}