.header{
    width: 100%;
    height: 13rem;
    display: flex;
    align-items: center;
    position:relative;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.linea{
    border-bottom: 1px solid;
    width: 50%;
    position: absolute;
    top: 100%;
}

.nav-link{
    text-decoration: none;
    color: $negro;
    text-transform:uppercase;
    font-weight: 500;
    padding: 0;
    position: relative;
    font-family: $fuenteKenoky;
    font-size: clamp(1rem, 3vw, 2.6rem);
    letter-spacing: 0.3rem;   
}

.nav-item:last-child{
    margin: 0 0 0 1.5rem;
    padding: 0 0 0 1rem;
}

.nav-item:not(:last-child){
    margin: 0 1.5rem;
    padding: 0 1rem;
}

.nav-link:hover{
    color: rgb(29, 29, 29);
    transition: all 0.3s ease-in-out;   
}

.nav-link::before{
    content: "";
    background-color: $negro;
    width: calc(100%);
    height: .2rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform-origin: left;
    transition: transform 0.4s linear;
    transform: translate(-50%, -50%) scaleX(0);
}

.nav-link:hover::before{
    transform: translate(-50%, -50%) scaleX(1);
}


.nav-list{
    list-style: none;
    display: flex;
    margin: 0; 
}


.header{
    img{
        max-width: 80%;
    }
}

.header{
    img:hover{
        transform: scale(1.04);
        transition: all 0.2s ease-in-out;
    }
}

.logo{
    text-decoration: none;
    color: $negro;
    text-transform:uppercase;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: $fuenteBigilla;
    font-size: clamp(2rem, 8vw, 7rem);
    color: $negro;
    letter-spacing: 1px;
    border-top: 1px solid;
}

.logo:hover{
    color: $negro;
    transform: scale(0.99);
    transition: all 0.2s ease-in-out;
}

/*Hamburger menu*/
.hamburger-menu{
    display: none;
}
/*Fin hamburger menu*/
