/*Global sections*/
.section{
    position: relative;
    height: auto;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    overflow-x: hidden;
    overflow: hidden;
    margin-bottom: 5rem;
    margin-top: 3rem;
}
/*Fin global sections*/

/*Hero section*/
.section{
    h1{
        font-family: "KenokyLight";
        font-size: clamp(2rem, 5vw, 40rem); 
        color:$negro;
        text-transform: uppercase;
        text-align: right;
    }

    h2{
        font-size: clamp(2rem, 5vw, 40rem); 
        text-align: right;
        font-family: "KenokyLight";
        color: $negro;
        text-transform: uppercase; 
    }

    h5{
        font-size: clamp(2rem, 5vw, 40rem); 
        text-align: right;
        font-family: "KenokyLight";
        color: $negro;
        text-transform: uppercase; 
    }
}
.carousel{
    width: clamp(400px, 35vw, 600px);
}
/*Fin hero section*/


