/*Global sections*/
.section2{
    position: relative;
    height: auto;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    overflow-x: hidden;
    overflow: hidden;
    
}
/*Fin global sections*/

/*Main section*/
.main-col{
    width: auto;
}

.main-section{
    margin-top: clamp(10px, 20vw, 10rem);
    overflow-y: hidden;
    margin-bottom: clamp(10px, 8vw, 6rem);
}

.main-section2{
    background-color: transparent;
    margin-top: clamp(10px, 20vw, 7rem);
    margin-bottom: clamp(10px, 8vw, 6rem);
    overflow-y: hidden;
}

.section{
    h3{
        font-family: $fuenteSecundaria;
        padding: clamp(1rem, 5vw, 3rem);
        font-size: clamp(6rem, 7vw, 6rem);
    }
}

.main-img1{
    width: clamp(300px, 50vw, 550px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-left: 0;
}

.main-img2{
    width: clamp(300px, 50vw, 450px);
    padding: clamp(1rem, 5vw, 3rem);
    padding-right: 0; 
}

.main-img3{
    width: clamp(300px, 50vw, 400px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-left: 0;  
}

.main-img4{
    width: clamp(300px, 50vw, 550px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-right: 0;  
}

.main-img5{
    width: clamp(300px, 50vw, 550px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-left: 0;  
}

.main-img6{
    width: clamp(300px, 50vw, 400px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-right: 0;
}

.main-img7{
    width: clamp(300px, 50vw, 400px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-left: 0;  
}

.main-img8{
    width: clamp(300px, 50vw, 550px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-right: 0;  
}

.main-img9{
    width: clamp(300px, 50vw, 550px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-left: 0;  
}

.main-img10{
    width: clamp(300px, 30vw, 400px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-right: 0;  
}

.main-img11{
    width: clamp(300px, 30vw, 500px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-left: 0;  
}

.main-img12{
    width: clamp(300px, 30vw, 550px);
    padding: clamp(1rem, 5vw, 3rem); 
    padding-right: 0;  
}

.main-text{
    font-family: "KenokyLight";
    text-align: right;
    width: auto;
    text-decoration: none;
    color: $negro; 
    font-size: clamp(5rem, 6vw, 10rem);
    position: absolute;
    left:25%;
}

.main-text:hover{
    color: $negro;
}

.main-text::before{
    content: "";
    background-color: $negro;
    width: calc(100% - 2rem);
    height: .2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform-origin: left;
    transition: transform 0.4s linear;
    transform: translate(-50%, -50%) scaleX(0);
}

.main-text:hover::before{
    transform: translate(-50%, -50%) scaleX(1);
}

.main-text2{
    font-family: "KenokyLight";
    font-size: clamp(5rem, 6vw, 10rem);
    text-align: left;
    width: auto;
    text-decoration: none;
    color: $negro;
    position: absolute;
    right: 25%;
    z-index: 1;
}

.main-text2:hover{
    color: $negro;
}

.main-text2::before{
    content: "";
    background-color: $negro;
    width: calc(100% - 2rem);
    height: .2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform-origin: left;
    transition: transform 0.4s linear;
    transform: translate(-50%, -50%) scaleX(0);
}

.main-text2:hover::before{
    transform: translate(-50%, -50%) scaleX(1);
}

.main-text3{
    font-family: "KenokyLight";
    font-size: clamp(5rem, 6vw, 10rem);
    width: auto;
    text-decoration: none;
    color: $negro;
    position: absolute;
    left: 25%;
    z-index: 1;
}

.main-text3:hover{
    color: $negro;
}

.main-text3::before{
    content: "";
    background-color: $negro;
    width: calc(100% - 2rem);
    height: .2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform-origin: left;
    transition: transform 0.4s linear;
    transform: translate(-50%, -50%) scaleX(0);
}

.main-text3:hover::before{
    transform: translate(-50%, -50%) scaleX(1);
}

.main-text4{
    font-family: "KenokyLight";
    font-size: clamp(5rem, 6vw, 10rem);
    text-align: left;
    width: auto;
    text-decoration: none;
    color: $negro;
    position: absolute;
    right: 25%;
    z-index: 1;
}

.main-text4:hover{
    color: $negro;
}

.main-text4::before{
    content: "";
    background-color: $negro;
    width: calc(100% - 2rem);
    height: .2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform-origin: left;
    transition: transform 0.4s linear;
    transform: translate(-50%, -50%) scaleX(0);
}

.main-text4:hover::before{
    transform: translate(-50%, -50%) scaleX(1);
}

.main-text5{
    font-family: "KenokyLight";
    font-size: clamp(5rem, 6vw, 10rem);
    text-align: right;
    text-decoration: none;
    color: $negro;
    position: absolute;
    left: 25%;
    z-index: 1;
}

.main-text5:hover{
    color: $negro;
}

.main-text5::before{
    content: "";
    background-color: $negro;
    width: calc(100% - 2rem);
    height: .2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform-origin: left;
    transition: transform 0.4s linear;
    transform: translate(-50%, -50%) scaleX(0);
}

.main-text5:hover::before{
    transform: translate(-50%, -50%) scaleX(1);
}

.main-text6{
    font-family: "KenokyLight";
    font-size: clamp(5rem, 6vw, 10rem);
    text-align: left;
    width: auto;
    text-decoration: none;
    color: $negro;
    position: absolute;
    right: 25%;
    z-index: 1;
}

.main-text6:hover{
    color: $negro;
}

.main-text6::before{
    content: "";
    background-color: $negro;
    width: calc(100% - 2rem);
    height: .2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform-origin: left;
    transition: transform 0.4s linear;
    transform: translate(-50%, -50%) scaleX(0);
}

.main-text6:hover::before{
    transform: translate(-50%, -50%) scaleX(1);
}

.breath{
    font-family: $fuenteSecundaria;
    color: $negro; 
}

.section{
    h3{
        font-size: clamp(3rem, 6vw, 15rem);
    }
}

h1.animate__animated.animate__fadeInLeft{
    --animate-duration: 1.5s;
}

h2.animate__animated.animate__fadeInLeft{
    --animate-duration: 2s;
}

.s-one{
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    left: 25%;
    z-index: -1;
}

.s-two{
    position: absolute;
    width: 1px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    left: 50%;
}

.s-three{
    position: absolute;
    width: 1px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    left: 75%;
}
/*Fin main section*/