@media only screen and (max-width: 576px) {
    /*Inicio footer*/
    .content-creator{
        text-align: center;
        align-items: center;
        display:block;
        margin: 2rem 0 0 0;
    }

    .copyright{
        margin-bottom: 1rem;
    }

    .fa-long-arrow-alt-up{
        font-size: clamp(2rem, 8vw, 5rem);;
        color: #161616;
        right: 2%;
        top: 2rem;
    }

    .fa-long-arrow-alt-up:hover{
        transform: scale(1);
    }
    /*Fin footer*/
    .breadcrumb-item{
        font-size: clamp(1.5rem, 6vw, 2rem);
    }

    .cards{
        grid-template-columns: repeat(auto-fit, minmax(20rem,32rem));    
    }
    
    /*Sections*/
    .section2{
        flex-direction: column;
    }

    /*Hero section*/
    .section{
        margin-bottom: 0;

        h1{
            font-size: clamp(2rem, 15vw, 40rem); 
            padding-left: 0;
            margin: 0; 
            text-align: center;
        }

        h2{
            font-size: clamp(2rem, 15vw, 40rem); 
            padding-left: 0;
            text-align: center;
            margin: 0; 
        }

        h5{
            font-size: clamp(2rem, 15vw, 40rem);
            padding-left: 0;
            text-align: center;
            margin: 0; 
        }
    }
    
    .carousel{
        width: auto;
    }

    /*Main section*/
    .main-col{
        width: auto;
    }

    .main-section{
        margin-top: clamp(10px, 8vw, 60px);
    }

    .main-section2{
        margin-bottom: clamp(10px, 4vw, 20px);
    }

    .main-img1{
        width: clamp(400px, 30vw, 550px);
    }

    .main-img2{
        width: clamp(400px, 30vw, 450px);
        margin-right: 0;
        display: none;  
    }

    .main-img3{
        width: clamp(400px, 30vw, 400px);
        margin-left: 0;
    }

    .main-img4{
        width: clamp(400px, 30vw, 500px);  
        display: none;
    }

    .main-img5{
        width: clamp(400px, 30vw, 400px);
    }

    .main-img6{
        display: none;
    }

    .main-img7{
        width: clamp(400px, 30vw, 400px);
    }

    .main-img8{
        display: none;
    }

    .main-img9{
        width: clamp(400px, 30vw, 400px);
    }

    .main-img10{
        display: none;
    }

    .main-img11{
        width: clamp(400px, 30vw, 400px);
    }

    .main-img12{
        display: none;
    }

    .main-text{
        position: relative;
        font-size: clamp(2rem, 20vw, 4.5rem);
        left: 0;
        margin: 0;
        p{
            margin: 0;
        }
    }

    .main-text2{
        position: relative;
        font-size: clamp(2rem, 20vw, 4.5rem);
        right: 0;
        margin: 0;
    }

    .main-text3{
        position: relative;
        font-size: clamp(2rem, 20vw, 4.5rem);
        left: 0;
        margin: 0;
    }

    .main-text4{
        position: relative;
        font-size: clamp(2rem, 20vw, 4.5rem);
        right: 0;
        margin: 0;
    }

    .main-text5{
        position: relative;
        font-size: clamp(2rem, 20vw, 4.5rem);
        left: 0;
        margin: 0;
    }

    .main-text6{
        position: relative;
        font-size: clamp(2rem, 20vw, 4.5rem);
        right: 0;
        margin-bottom: 8rem;
    }

    .logo{
        font-size: clamp(2rem, 8vw, 6rem);
    }
    /*Fin main section*/
    /*Fin hero section*/
   
}

@media only screen and (max-width: 768px) {
    .section{
        flex-direction: column;
    }

    .section2{
        flex-direction: column;
    }

    /*Hero section*/
    .section{
        h1{
            font-size: clamp(2rem, 10vw, 40rem); 
            padding-left: 0;
            margin: 0; 
            text-align: center;
        }

        h2{
            font-size: clamp(2rem, 10vw, 40rem); 
            padding-left: 0;
            text-align: center;
            margin: 0; 
        }

        h5{
            font-size: clamp(2rem, 10vw, 40rem);
            padding-left: 0;
            text-align: center;
            margin: 0; 
        }
    }
  
    /*Main section*/
    .main-col{
        width: auto;
    }

    .main-section{
        margin-top: clamp(10px, 8vw, 60px);
    }

    .main-section2{
        margin-bottom: clamp(10px, 4vw, 20px);
    }

    .main-img1{
        width: clamp(400px, 50vw, 500px);
        padding-left: 0;
        padding-right: 0;
    }

    .main-img2{
        width: clamp(400px, 50vw, 500px);
        margin-right: 0;  
        padding-left: 0;
        padding-right: 0;
    }

    .main-img3{
        width: clamp(400px, 50vw, 500px);
        margin-left: 0;
        padding-left: 0;
        padding-right: 0; 
    }

    .main-img4{
        width: clamp(400px, 50vw, 500px);
        padding-left: 0;
        padding-right: 0; 
    }

    /*Fin main section*/
    /*Fin hero section*/

    .cards{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 32rem)); 
        column-gap: 1rem;
    }

    /*Inicio backstage*/
    .section3{
        flex-direction: column;
        margin-top: 4rem;
    }

    .fixed-backstage-text{
        writing-mode:unset;
        transform: none;
        position:relative;
        text-align: center;
        font-size: clamp(2.5rem, 5vw, 10rem);
    }
    /*Fin backstage*/
}

@media only screen and (max-width: 992px) {
    .contact-section{ 
        height: auto;   
    }
}

@media only screen and (max-width: 1024px) {
    /*Header*/
   .hamburger-menu{
       font-size: 2.6rem;
       color:$negro;
       cursor: pointer;
       position: relative;
       z-index: 1500;
       display: flex;

       .fa-times{
            display: none;
       }
   }

   .menu-open{
       .hamburger-menu{
           .fa-times{
               display: block;
           }

           .fa-bars{
               display: none;
           }
       }

       .nav-list{
            opacity: 1;
            transform: scale(1);
       }
   }

   .nav-list{
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100vh;
       background-color: #ffffff;
       display: flex;
       flex-direction: column;
       align-items:flex-start;
       justify-content: center;
       z-index: 1400; 
       opacity: 0; 
       transform: scale(0);
       transition: opacity .5s ease-in-out;
       padding-left: 0;
   }

   .nav-link{
       display: block;
       font-size: clamp(1rem, 3.5vw, 5rem);
       font-weight: 600;
       letter-spacing: 2px;
       padding: 2rem;
   }

   .nav-item:not(:last-child){
       margin-bottom: 1rem;
   }
   /*Fin header*/
  
    /*Contact*/
    form{
        .form-row{
            display: block;

            .input-data{
                margin: 35px 0;
            }
        }    
    }
    
    .submit-bt{
        .input-data{
            width: 100%;
        }
    }
    /*Fin contact*/ 

    /*About section*/
    .section--about{
        flex-direction: column-reverse;

        h1{
            font-size: clamp(2rem, 14vw, 6rem);
            text-align: center;
            font-weight: 500;
        }

        h2{
            font-size: clamp(2rem, 3vw, 4rem);
            margin-top: clamp(1rem, 1vw, 2rem);
            margin-bottom: clamp(1rem, 1vw, 2rem);
            text-align: center;
            font-weight: 600;
        }

        p{
            font-size: clamp(0.5rem, 6vw, 2rem);
            width: 93vw;   
            text-align: left;
            margin: 3rem 0 3rem 0;
        }

    }

    .leila{
        width: clamp(300px, 100vw, 650px);  
    }

    .main-section{
        margin-bottom: 20px;
    }

    .main-img1{
        width: clamp(400px, 30vw, 550px);
        padding: 30px 0;
    }

    .main-img2{
        width: clamp(400px, 30vw, 450px);
        margin-right: 0;
        display: none;  
    }

    .main-img3{
        width: clamp(400px, 30vw, 400px);
        margin-left: 0;
        padding: 30px 0;
    }

    .main-img4{
        width: clamp(400px, 30vw, 500px);  
        display: none;
    }

    .main-img5{
        width: clamp(400px, 30vw, 400px);
        padding: 30px 0;
    }

    .main-img6{
        display: none;
    }

    .main-img7{
        width: clamp(400px, 30vw, 400px);
        padding: 30px 0;
    }

    .main-img8{
        display: none;
    }

    .main-img9{
        width: clamp(400px, 30vw, 400px);
        padding: 30px 0;
    }

    .main-img10{
        display: none;
    }

    .main-img11{
        width: clamp(400px, 30vw, 400px);
        padding: 30px 0;
    }

    .main-img12{
        display: none;
    }

    .main-text{
        position: relative;
        font-size: clamp(2rem, 12vw, 4.5rem);
        left: 0;
        margin: 0;
        p{
            margin: 0;
        }
    }

    .main-text2{
        position: relative;
        font-size: clamp(2rem, 12vw, 4.5rem);
        right: 0;
        margin: 0;
    }

    .main-text3{
        position: relative;
        font-size: clamp(2rem, 12vw, 4.5rem);
        left: 0;
        margin: 0;
    }

    .main-text4{
        position: relative;
        font-size: clamp(2rem, 12vw, 4.5rem);
        right: 0;
        margin: 0;
    }

    .main-text5{
        position: relative;
        font-size: clamp(2rem, 12vw, 4.5rem);
        left: 0;
        margin: 0;
    }

    .main-text6{
        position: relative;
        font-size: clamp(2rem, 12vw, 4.5rem);
        right: 0;
    }

    /*Inicio backstage*/
    .section3{
        margin-top: 4rem;
    }

    .fixed-backstage-text{
        writing-mode:unset;
        transform: none;
        position:relative;
        text-align: center;
        font-size: clamp(2.5rem, 5vw, 10rem); 
        color: $negro;
        mix-blend-mode:normal;
    }
    /*Fin backstage*/

    .nav-link::before{
        top: 80%;
        left: 50%;
        width: calc(100% - 3rem);
       
    }
}

@media only screen and (min-width: 768px) and (max-width: 1400px){

    .fa-bars{
        font-size: 4rem;
    }

    .fa-times{
        font-size: 4rem;
    }
    
    .cards{
        grid-template-columns: 32rem 32rem;  
    }
    
    /*Sections*/
    .hero-section{
        flex-direction: column;
    }

    .logo{
        font-size: clamp(2rem, 5vw, 3.5rem);
    }

    .nav-link{
        font-size: clamp(1.5rem, 2.5vw, 3.3rem) ;
    }

    /*Hero section*/
    .section{
        h1{
            font-size: clamp(2rem, 10vw, 40rem); 
            padding-left: 0;
            margin: 0; 
            text-align: center;
        }

        h2{
            font-size: clamp(2rem, 10vw, 40rem); 
            padding-left: 0;
            text-align: center;
            margin: 0; 
        }

        h5{
            font-size: clamp(2rem, 10vw, 40rem);
            padding-left: 0;
            text-align: center;
            margin: 0; 
        }
    }
   
    .carousel{
        width: clamp(600px, 700px, 900px);
    }

    /*Main section*/
    .main-col{
        width: auto;
    }

    .main-section{
        margin-top: clamp(10px, 8vw, 60px);
    }

    .main-img1{
        width: clamp(400px, 30vw, 550px);
        padding: 30px 0;
    }

    .main-img2{
        width: clamp(400px, 30vw, 450px);
        margin-right: 0;
        display: none;  
    }

    .main-img3{
        width: clamp(400px, 30vw, 400px);
        margin-left: 0;
        padding: 30px 0;
    }

    .main-img4{
        width: clamp(400px, 30vw, 500px);  
        display: none;
    }

    .main-img5{
        width: clamp(400px, 30vw, 400px);
        padding: 30px 0;
    }

    .main-img6{
        display: none;
    }

    .main-img7{
        width: clamp(400px, 30vw, 400px);
        padding: 30px 0;
    }

    .main-img8{
        display: none;
    }

    .main-img9{
        width: clamp(400px, 30vw, 400px);
        padding: 30px 0;
    }

    .main-img10{
        display: none;
    }

    .main-img11{
        width: clamp(400px, 30vw, 500px);
        padding: 30px 0;
    }

    .main-img12{
        display: none;
    }

    .main-text{
        position: relative;
        font-size: clamp(2rem, 9vw, 8rem);
        left: 0;
        margin: 0;
        p{
            margin: 0;
        }
    }

    .main-text2{
        position: relative;
        font-size: clamp(2rem, 9vw, 8rem);
        right: 0;
        margin: 0;
    }

    .main-text3{
        position: relative;
        font-size: clamp(2rem, 9vw, 8rem);
        left: 0;
        margin: 0;
    }

    .main-text4{
        position: relative;
        font-size: clamp(2rem, 9vw, 8rem);
        right: 0;
        margin: 0;
    }

    .main-text5{
        position: relative;
        font-size: clamp(2rem, 9vw, 8rem);
        left: 0;
        margin: 0;
    }

    .main-text6{
        position: relative;
        font-size: clamp(2rem, 9vw, 8rem);
        right: 0;
    }

    /*Fin main section*/
    /*Fin hero section*/

    .section--about{
        p{
            font-size: clamp(0.5rem, 3vw, 2rem);
            text-align:justify;
            margin: 4rem 0 0 0;
            width: auto; 
            margin-bottom: clamp(1rem, 6vw, 4rem);
        }
    }

    .logo{
        font-size: clamp(2rem, 8vw, 6rem);
    }

    /*Inicio backstage*/
    .section3{
        margin-top: 4rem;
    }

    .fixed-backstage-text{
        writing-mode:unset;
        transform: none;
        position:relative;
        text-align: center;
        font-size: clamp(2.5rem, 5vw, 10rem); 
        margin-top: 5rem;
    }

    .main-text-backstage{
        font-size: clamp(2.5rem, 4.5vw, 10rem);
    }
    /*Fin backstage*/
}

@media only screen and (min-width: 1000px) and (max-width: 1400px){  
    .cards{
        grid-template-columns: 32rem 32rem;  
    }

    /*About section*/
    .section--about{
        justify-content:space-between;
        flex-direction: row;
        
        h1{
            overflow: hidden;
            font-size: clamp(2rem, 8vw, 6rem);
            padding: 0;
            font-family: $fuenteSecundaria;
        }

        h2{
            font-size: clamp(1rem, 4vw, 2rem); 
            text-transform: uppercase;
            margin-top: clamp(1rem, 1vw, 2rem);
            margin-bottom: clamp(1rem, 1vw, 2rem);
        }

        p{
            font-size: clamp(0.5rem, 3vw, 2rem);
            text-align:justify;
            margin: 4rem 4rem 0 0;
            width: clamp(400px, 50vw, 600px);   
        }
    }

    .leila{
        width: clamp(400px, 40vw, 650px);
    }
    /*Fin about section*/

    .logo{
        font-size: clamp(2rem, 8vw, 6rem);
    }  
}

@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .hero-section{
        flex-direction: initial ;    
    }

    .section{
        h1{
            font-size: clamp(2rem, 7vw, 40rem); 
            padding-left: 0;
            margin: 0; 
            text-align: right;
        }

        h2{
            font-size: clamp(2rem, 7vw, 40rem); 
            padding-left: 0;
            text-align: right;
            margin: 0; 
        }

        h5{
            font-size: clamp(2rem, 7vw, 40rem);
            padding-left: 0;
            text-align: right;
            margin: 0; 
        }
    }

    .carousel{
        width: 620px;
    }

    /*About section*/
    .section--about{
        position: relative;
        height: auto;
        display: flex;
        width: 100%;
        justify-content:space-between;
        align-items: center;
        overflow-x: hidden;
        margin: auto;
        margin-bottom: 4rem;

        h1{
            overflow: hidden;
            font-size: clamp(2rem, 6vw, 6rem);
            padding: 0;
            font-family: $fuenteSecundaria;
        }

        h2{
            font-size: clamp(1rem, 4vw, 2rem); 
            text-transform: uppercase;
            margin-top: clamp(1rem, 1vw, 2rem);
            margin-bottom: clamp(1rem, 1vw, 2rem);
        }

        p{
            font-size: clamp(0.5rem, 3vw, 2rem);
            text-align:justify;
            margin: 4rem 4rem 0 0;
            width: clamp(400px, 50vw, 600px);   
        }
    }

    .main-about-section{
        background-color: transparent;
        overflow-y: hidden;
        width: 100%;
    }

    .leila{
        width: clamp(400px, 40vw, 650px);
    }
    /*Fin about section*/   

    /*Inicio backstage*/
    .section3{
        margin-top: 4rem;
    }

    .fixed-backstage-text{
        writing-mode:unset;
        transform: none;
        position:relative;
        text-align: center;
        font-size: clamp(2.5rem, 4vw, 10rem); 
        mix-blend-mode: normal;
        margin-top: 5rem;
    }

    .main-text-backstage{
        font-size: clamp(2.5rem, 4.5vw, 10rem);
    }
    /*Fin backstage*/
}

@media only screen and (min-width: 1401px) and (max-width: 1600px){
    .carousel{
        width: 600px;
    }
}
