/*Colores*/
$negro: #212529;
$naranja:#E4572E;
/*Fin colores*/

/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

$fuentePrincipal: 'Montserrat', sans-serif;
$fuenteSecundaria: 'Playfair Display', serif;


@font-face {
    font-family: "";
    src: url();
}
/*Fin fuentes*/