/*Colores*/
$negro: #111111;
$naranja: rgb(218, 114, 40);
/*Fin colores*/

/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


$fuentePrincipal: 'Montserrat', sans-serif;
$fuenteSecundaria: 'Playfair Display', serif;

@font-face {
    font-family: "Bigilla";
    src: url("../fonts/Bigilla.otf");
}

@font-face {
    font-family: "CoffekanRegular";
    src: url("../fonts/CoffekanRegular.ttf");
}

@font-face {
    font-family: "KenokyLight";
    src: url("../fonts/KenokyLight.ttf");
}
/*Fin fuentes*/