/*Works section*/
.section-works{
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 5rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,32rem));
    grid-template-columns: 32rem 32rem 32rem; 
    grid-template-rows: auto;
    column-gap: 10rem;
    row-gap: 2rem;
    padding-bottom: 2rem;  
}

.card{
    border: none; 
    overflow: hidden;
    background-color: transparent;
}

.card-decoration{
    text-decoration: none;
    width: 75%;
}

.card-title-large{
    font-size: clamp(1rem, 2.5rem, 4rem); 
    color: $negro;
    text-transform: uppercase;
    font-family: "KenokyLight"; 
    font-weight: 00;
    letter-spacing: 3px;
}

.card-title-large:hover{
    color: $naranja;
    transition: all 0.4s ease-in-out;
}

.card-title-small{
    font-size: clamp(0.5rem, 1.5rem, 2rem);
    color: $naranja;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-weight: 400;
}

.card-title-small:hover{
    color: $negro;
    transition: all 0.4s ease-in-out;
}

@mixin card-propertys ($heightCard){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $heightCard;
    transition: all 0.4s ease-out;
}

.card-property{
    @include card-propertys(600px);
}

.test{
    background-image: url("/img/Test_Resized/Test\ Principal.jpg");   
}

.test:hover{
    background-image: url("/img/Test_Resized/Test\ Secundaria.jpg");
}

.street{
    @extend .card-property;
    background-image: url("/img/Street_Resized/Street\ Principal.jpg");  
}

.street:hover{
    background-image: url("/img/Street_Resized/Street\ Secundaria.jpg")
}

.campaign{
    @extend .card-property;
    background-image: url("/img/Campaign_Resized/Campaign\ principal.jpg");
}

.campaign:hover{
    background-image: url("/img/Campaign_Resized/Campaign\ secundaria.jpg");
}

.lookbook{
    @extend .card-property;
    background-image: url("/img/Lookbook_Resized/lookbook1\ \(2\).jpg");
}

.lookbook:hover{
    background-image: url("/img/Lookbook_Resized/lookbook1.jpg");
}

.social-content{
    @extend .card-property;
    background-image: url("/img/Contenido_Redes_Resized/Social\ principal.jpg");
}

.social-content:hover{
    background-image: url("/img/Contenido_Redes_Resized/Social\ secundaria.jpg");
}

.product{
    @extend .card-property;
    background-image: url("/img/Product_Resized/Producto\ principal.jpg");
}

.product:hover{
    background-image: url("/img/Product_Resized/Producto\ secundaria.jpg");
}

.breadcrumb{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:3.5% 0;
    font-size: 2rem;
}

.breadcrumb-item a{
    color: $negro;
    text-decoration: none;
    
}
/*Fin works section*/

/*Image gallery works*/
.item{
    transition: .5s ease-in-out;
}

.item:hover{
    filter: brightness(70%);
}

.fancybox{
    height: auto;
}

.row{
    margin-bottom: 5rem;
}
/*Fin image gallery works*/